<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruayou.mapper.BookMapper">
    <insert id="InsertBook" parameterType="com.ruayou.entity.BookInfo">
        INSERT INTO `book` (
            `douban_id`, `ISBN`, `book_name`, `author`, `press`, `producer`,
            `translator`, `series`, `original_title`, `publish_time`,
            `page`, `price`, `binding`, `douban_score`, `introduce`, `tags`, `img_url`
        ) VALUES (
                     #{doubanId}, #{ISBN}, #{bookName}, #{author}, #{press}, #{producer},
                     #{translator}, #{series}, #{originalTitle}, #{publishTime},
                     #{page}, #{price}, #{binding}, #{doubanScore}, #{introduce}, #{tags}, #{imgUrl}
                 )
    </insert>
</mapper>